@import '@mixins';
@import '@variables';

.pagination {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;

  li {
    cursor: pointer;
  }

  &__page,
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__page {
    border-radius: 8px;

    &_active {
      background-color: $color-blue-main;
    }
  }

  &__arrow {
    width: 32px;
    height: 34px;
  }

  &__page,
  &__break {
    padding: 6px 14px;
    min-width: 37px;
    height: 30px;

    @include medium-devices {
      min-width: 38px;
      height: 34px;
    }
  }

  &__break a,
  &__button {
    color: $color-white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    @include medium-devices {
      color: $color-white;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
    }
  }

  &__icon {
    color: $color-blue-gray;
  }
}
