@import '@mixins';
@import '@variables';

.admin-page {
  &__title,
  &__subtitle {
    color: $color-white-main;

    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  &__title {
  }
  // &__subtitle {
  //   color: $color-white-main;
  //   font-size: 18px;
  //   font-weight: 600;
  //   line-height: 24px;
  // }
}
