@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

:root {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;

  color-scheme: dark;
  color: $color-white;
  background-color: $color-blue-purple-dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $color-blue-bright;
  text-decoration: inherit;
}

a:hover {
  color: $color-blue-sky;
}

.body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  &__no-scroll {
    overflow: hidden;
  }
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 24px;
  box-sizing: border-box;

  @include small-devices {
    padding: 34px 40px;
  }

  @include small-devices {
    padding: 34px 25px;
  }
}

button {
  cursor: pointer;
}
