// Colors
$color-black: #000000;

$color-white: #ffffff;

$color-blue-purple-dark: #0e0c15;
$color-blue-dark: #121825;
$color-blue-bright: #1c64f2;
$color-blue-sky: #4785ff;
$color-blue-slate: #313e62;

$color-gray-currant: #222b44;
$color-gray-dark: #222b44;
$color-gray-bluish: #616d8d;
$color-gray: #9ca3af;

$color-red: #fe4242;

$color-green: #1abb34;
