@import '@mixins';
@import '@variables';

.admin-page {
  @include small-devices {
  }

  @include medium-devices {
  }

  &__title,
  &__subtitle {
    color: $color-white-main;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    @include small-devices {
      font-size: 20px;
      line-height: 26px;
    }

    @include medium-devices {
      font-size: 22px;
      line-height: 29px;
    }
  }

  &__title {
    padding: 19px 16px;
    border-bottom: 1px solid $color-blue-cobalt;

    @include small-devices {
      padding: 24px;
    }

    @include medium-devices {
      padding: 24px 34px;
    }
  }

  &__subtitle {
    padding: 28px 16px;

    @include small-devices {
      padding: 29px 24px 27px;
    }

    @include medium-devices {
      padding: 29px 34px 24px;
    }
  }

  &__search-block {
    padding: 0 16px 18px;

    @include small-devices {
      padding: 0 24px 18px;
    }

    @include medium-devices {
      padding: 0 34px 24px;
    }
  }

  &__table {
    margin: 0 16px;
    overflow-y: auto;

    @include small-devices {
      margin: 0 24px;
    }

    @include medium-devices {
      margin: 0 34px;
    }
  }
}

.pagination {
  display: flex;
}
