@import '@mixins';
@import '@variables';

.drawer {
  $this: &;

  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-out;
  z-index: 50;
  background-color: $color-blue-dark;
  padding: 30px 16px;
  display: flex;
  flex-direction: column;

  @include small-devices {
    width: 470px;
    right: -470%;
    padding: 56px 40px 56px 20px;
  }

  @include medium-devices {
    padding: 56px 20px;
  }

  &_open {
    right: 0;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close-button {
    color: $color-white;
  }

  &__title {
    margin-bottom: 14px;
    color: $color-white;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    @include small-devices {
      margin-bottom: 18px;
    }

    @include medium-devices {
      margin-bottom: 20px;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
