@import '@mixins';
@import '@variables';

.table {
  $this: &;

  width: 100%;
  border-spacing: 0;

  &__header-cell,
  &__cell {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  &__header-cell {
    padding: 14px 34.5px;
    background-color: $color-blue-purple-dark;
    color: $color-gray;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  &__cell {
    min-width: 93px;
    min-height: 64px;
    padding: 24px 20px;
    border-width: 0;
    border-bottom: 1px solid $color-gray-currant;
    color: $color-white;

    &_red-text {
      color: $color-red;
    }

    &_green-text {
      color: $color-green;
    }

    &_with-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    &_email {
      min-width: 250px;
    }

    @include medium-devices {
      min-width: 250px;
    }
  }

  &__icon-actions {
    color: $color-blue-bright;
  }

  &__icon-sort {
    color: $color-gray-bluish;
  }

  &__empty-block {
    padding: 48px;
  }

  &__empty-text {
    text-align: center;
    color: $color-gray-bluish;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }

  &_flex {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;

    #{$this}__thead {
      width: 100%;
      flex-shrink: 0;
    }

    #{$this}__tbody {
      flex: 1;
      overflow: auto;
    }

    #{$this}__tr {
      display: flex;
    }

    #{$this}__row {
      flex: 1;
    }

    #{$this}__header-cell,
    #{$this}__cell {
      flex-grow: 1;
      text-align: center;
    }
  }

  &_three-columns {
    #{$this}__cell {
      min-width: 0;
      width: 33.3%;
    }
  }
}
